project_name           = "fiap-soat"
environment            = "dev"
lambda_role_arn        = "arn:aws:iam::ACCOUNT_ID:role/lambda_role"
db_user                = "postgres"
db_password            = "CHANGE_ME"
jwt_secret             = "CHANGE_ME"
jwt_expires_in         = "24h"
terraform_state_bucket = "your_bucket_name"
