project_name    = "fiap-soat"
environment     = "dev"
aws_region      = "us-east-1"
lambda_zip_path = "../dist/lambda.zip"
db_user         = "postgres"
db_password     = "CHANGE_ME"
jwt_secret      = "CHANGE_ME"
jwt_expires_in  = "24h"
